<div class="container-fluid bg-primary bg-testimonial py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row g-0 justify-content-end">
            <div class="col-lg-6">
                <h1 class="display-5 mb-4">Testimonials</h1>
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item">
                        <p class="fs-4 fw-normal"><i class="fa fa-quote-left text-secondary me-3"></i>I love the professionalism with your sevice.</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid p-1 bg-secondary" src="img/hotel.jpg" alt="">
                            <div class="ps-3">
                                <h3>Ocean Hotel NG</h3>
                                <span class="text-uppercase">Hotel Manager</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <p class="fs-4 fw-normal"><i class="fa fa-quote-left text-secondary me-3"></i>Neat and beautiful job. The post cleaning after painting was really awasome</p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid p-1 bg-secondary" src="~/img/bethel school.jpg" alt="">
                            <div class="ps-3">
                                <h3>Bethel High School</h3>
                                <span class="text-uppercase">School</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>